.ccb-edit-field-formula {
  overflow: auto;
  border: 1px solid #dddddd;
  border-radius: 4px;
  .ccb-formula-content {
    textarea {
      border: none !important;
    }
  }

  .ccb-formula-tools {
    padding: 6px 7px;
    background-color: #eef1f7;
    border-top: 1px solid #dddddd;
    display: flex;
    flex-wrap: wrap;
    column-gap: 5px;
    row-gap: 5px;

    .ccb-formula-tool {
      letter-spacing: normal;
      cursor: pointer;
      height: 30px;
      display: flex;
      padding: 0 9px;
      color: #001931;
      font-size: 14px;
      font-weight: 500;
      border-radius: 4px;
      align-items: center;
      justify-content: center;
      background-color: #ffffff;
      box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.16);
      transition: background-color 200ms linear;

      .multiple,
      .plus {
        line-height: 1;
        position: relative;
        top: -1px;
        left: 0.5px;
      }

      .multiple {
        top: 3px;
        left: 1px;
      }

      &:hover {
        background-color: #d2d8e5;
      }
    }
  }
}